.body{
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 10px;
}

.body .slide{
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.body .slide .title{

}