.App {
  text-align: center;
  font-family: 'Roboto';
  background-color: #f2f2f2;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: -4px;
  margin-top: 13px;
  position: absolute;

}

.green{
  background-color: green;
}

.gray{
  background-color: gray;
}


.body{
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 10px;
}

.body .slide{
  width: calc(100% / 5);
  min-width: 260px;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.body .slide .title-container{
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 8px;
}

.body .slide .title-content{
  font-size: 15px;
  margin-left: -14px;
  width: 60%;
}

.body .slide .title-icons{
  display: flex;
  flex-direction: row;
  gap: 6px;
}


.card{
  width: 250px;
  border-radius: 5px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 1px
}

.card p{
  margin: 0;
}
.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-header .id {
  width: 50%;
  margin-left: -10%;
  font-size: 10px;
}

.card-header .user .circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: -4px;
  margin-top: 13px;
  position: absolute;

}

.card-body {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.green{
  background-color: green;
}

.gray{
  background-color: gray;
}


.title {
  font-size: 11px;
}


.tags {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 3px;
}

.tags button{
  height: 15px;
  width: 35%;
  background-color: white;
  border: 0.1px solid gray;
  border-radius: 2px;
  box-shadow: none;
}

.tag{
  font-size: 8px;
}



.header{
  width: 100%;
  height: 30px;
  background-color: white;
  padding-top: 5px;
}

.header .dropdown{
  margin-right: 65%;
  margin-left: 5%;
  width: 150px;
  height: 20px;
  font-size: 13px;
  background-color: #b8b3b3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #b8b3b3;
  border-radius: 4px;
}

.header .dropdown:hover{
  background-color: gray;
  cursor: pointer;
}

.header .dropdown-content{
  position: absolute;
  background-color: rgb(249, 246, 246);
  width: 150px;
  height: 60px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 32px;
  left: 5%;
  z-index: 1;

}

.header .dropdown-content .element{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 12px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 9px;
  color: black;
  text-decoration: none;
}

.header .dropdown-content .element select{
  font-size: 11px;;
}

.header .dropdown-content .element span{
  font-size: 11px;
}



